<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="0.9.76" targetFramework="net461" />
  <package id="PhysX.Net-x64" version="0.5.1" targetFramework="net461" />
  <package id="RhinoCommon" version="5.12.50810.13095" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="net461" />
</packages>